<html<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Perfect Personnel</title>

    <style type="text/css">
    h1,h3{
      color: darkgreen;
    }
    p{
      font-size: 18px;
    }
    </style>

  </head>
  <body>


    <h1> Hello !  we will be right back</h1>
    <p>this site is being updated.. check back in a few weeks, thanks :-).</p>
    {{> header}}
    <p> {{homeWelcomeMessage}} {{homePageTitle}}</P>

    <!--footer... .-->
    {{> footer}}

  </body>
</html>
